body {
  background-color: #eaf6f6;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
}

h1 {
  color: #f76b8a;
  display: block;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

h2 {
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.today {
  background-color: #000509ad;
  border: 1px solid #fcfefe;
  border-radius: 15px;
}

#description {
  color: #0b2a36;
  font-weight: bold;
}

h3 {
  color: #f76b8a;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.nexthours {
  background-color: #000509ad;
  border: 1px solid #fcfefe;
  border-radius: 15px;
  box-shadow: 0 0 2em #b1eeee;
  margin: 10px auto;
  font-size: 12px;
  width: 80%;
  padding: 10px 5px 20px 5px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  color: #000509ad;
  display: block;
  font-size: 16px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 380px;
  margin: 0 auto;
}

.weather-app {
  background-image: url(../img/coast.jpg);
  background-size: cover;
  border: 1px solid #fcfefe;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #0b2a36;
  color: #fcfefe;
  padding: 10px 10px;
}

a {
  color: #0005096b;
  text-decoration: none;
}

a:hover {
  color: #f76b8a;
}

.temperature {
  color: #000509ad;
  font-weight: bold;
  font-size: 30px;
}

.units {
  color: #000509ad;
  position: relative;
  top: -10px;
  font-size: 14px;
}

.active {
  color: #000509ad;
  cursor: default;
  font-size: larger;
  font-weight: bold;
}

.active:hover {
  cursor: default;
}

.climate {
  font-size: 10px;
  font-weight: bold;
  padding: 6px 3px;
}

.today-description {
  background: #eee8eba3;
}

.weather-forecast {
  margin: 0 auto;
  font-size: 18px;
}

.big-icon {
  background-color: #cd99a4;
  height: 60px;
  width: 60px;
  border: 1px solid #fcfefe;
  border-radius: 35px;
  margin: 10px 0 0 0;
}

.small-icons {
  background-color: #cd99a4;
  height: 40px;
  width: 40px;
  border: 1px solid #fcfefe;
  border-radius: 35px;
  margin: 1px;
}

.small-icons:hover {
  background-color: #f5a3b5;
}

#current-position,
#search-city,
#submit-button {
  font-size: 12px;
  width: 80px;
}

.footer {
  font-size: 12px;
  padding: 8px 0 0 0;
}

.footer-link {
  color: #f76b8a;
  font-weight: bold;
  padding: 5px 0 0 0;
}

.footer-link:hover {
  color: #f5a3b5;
  cursor: pointer;
}
