body {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
}

h1 {
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

h2 {
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.today {
  background-color: #000509ad;
  border: 1px solid #ffffff;
  border-radius: 15px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}

.nexthours {
  background-color: #000509ad;
  border: 1px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 2em #b1eeee;
  margin: 0 auto;
  font-size: 12px;
  width: 100%;
  padding: 5px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: block;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 360px;
  margin: 0 auto;
}

.weather-app {
  background-image: url(../img/colorful.jpg);
  background-size: 100%;
  border: 1px solid #ffffff;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #0b2a36;
  color: #ffffff;
  padding: 10px 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.temperature {
  font-weight: bold;
  font-size: 22px;
}

.units {
  position: relative;
  top: -14px;
  font-size: 10px;
}

.active {
  color: #ffffff;
  cursor: default;
  font-size: larger;
  font-weight: bold;
}

.active:hover {
  color: #ffffff;
  cursor: default;
}

.climate {
  font-size: 12px;
}

.weather-forecast {
  margin: 0 auto;
  font-size: 18px;
}

.big-icon {
  background-color: #3dc1cb;
  height: 70px;
  width: 70px;
  border: 1px solid #ffffff;
  border-radius: 35px;
  margin-top: 10px;
}

.small-icons {
  background-color: #3dc1cb;
  height: 40px;
  width: 40px;
  border: 1px solid #ffffff;
  border-radius: 35px;
  margin: 1px;
}

.small-icons:hover {
  background-color: #48e8f4;
}

#current-position,
#search-city,
#submit-button {
  font-size: 14px;
  width: 80px;
}

.footer-link {
  color: #037598;
}

.footer-link:hover {
  color: #3dc1cb;
  cursor: pointer;
}
